<nav>
     <aside id="navMenuChunk">
<a href="['/']" class="button fancy-button"><i class="material-icons">home</i></a>
<a href="['/ledger']" class="button fancy-button"><i class="material-icons">menu</i></a>
<a href="['/search']" class="button fancy-button"><i class="material-icons">search</i></a>
<a href="['/settings']" class="button fancy-button"><i class="material-icons">settings</i></a>
     </aside>
</nav>
<!-- NAv MENU USING VIEWS
<nav>
     <div id="navMenuChunk">
<a [routerLink]="['/']" class="button fancy-button"><i class="material-icons">home</i></a>
<a [routerLink]="['/ledger']" class="button fancy-button"><i class="material-icons">menu</i></a>
<a [routerLink]="['/search']" class="button fancy-button"><i class="material-icons">search</i></a>
<a [routerLink]="['/settings']" class="button fancy-button"><i class="material-icons">settings</i></a>
     </div>
</nav>
-->