<div class="FlexboxTest">
   <div id="ledgerBarHolder">
        <div id="ledgerBarBanner">
          Test Item Title   
        </div>
        <div id=ledgerHeadersWrap>
        <div class="ledgerBarHeaders">
            <a href=#>Action</a>
        </div>
        <div class="ledgerBarHeaders">
        <a href=#>Email</a>
        </div>
        <div class="ledgerBarHeaders">
        <a href=#>Name</a>
        </div>
        <div class="ledgerBarHeaders">
        <a href=#>Date</a>
        </div>
        </div>    
        <div id="tableContainer">
        <table>
        <col style="width:25%">
        <col style="width:25%"> 
        <col style="width:25%"> 
        <col style="width:25%">     
            <tr *ngFor="let test of tests">
            <td>{{test.itemAction}}</td>
            <td>{{test.itemEmail}}</td>
            <td>{{test.itemName}}</td>
            <td>{{test.itemDate}}</td>
            </tr>
            <tr>
            <td>
            Test Title</td>
            <td>Test email</td>
            <td>Test name</td>
            <td>12/19</td>
            </tr>
            <tr>
            <td>
            Test Title</td>
            <td>Test email</td>
            <td>Test name</td>
            <td>10/19</td>
            </tr>
        </table>
        </div>         
    </div>
 <div id="sideBarHolder">
        <div id="sideBarBanner">
          Your Docs  
        </div>
        <div id="sideBarHeader1">
            <p id="opt1">{{sortOpt}}</p> <!-- SORT BY Option 1 -->
        </div>
        <div id="sideBarHeader2">
            <p id="opt2">Date</p> <!-- SORT BY Option 2 -->
        </div>
        <div id="sideBarTableContainer">
        <table>
        <col style="width:70%">
        <col style="width:30%">    
            <tr *ngFor="let test of tests">
            <td>{{test.itemTitle}}</td>
            <td>{{test.itemDate}}</td>
            </tr>
        </table>
        </div>    
        <div class="sideBarEndIcons">
        <button (click)="onSort"> <a class="button fancy-button"><i class="material-icons">create</i></a></button><!-- CREATE NEW -->
        </div>
        <div class="sideBarEndIcons">
        <button (click)="onSort()" class="button fancy-button"><i class="material-icons">sort</i></button> <!-- SORT OPTIONS (Title, Date, Person, etc) -->
   <select class="custom-select" (change)="setSort($event)">
      <option value="" disabled>Sort By:</option>
      <option>Title</option>
      <option>Name</option>
      <option>Location?</option>
   </select>
        </div>   
    </div>
</div>